<div class="container">
    <div class="content">

    <div style="text-align: center;margin-top: 162px;">
        <h1 style="font-weight:20;"><strong>About this portal</strong></h1>
        <h3 style="letter-spacing: 0.05em;margin-left: 25px;" >

            The European Reference Genome Atlas (ERGA) initiative is a pan-European scientific response to current threats
            to biodiversity. Reference genomes provide the most complete insight into
            the genetic basis that forms each species and represent a powerful resource in understanding how biodiversity
            functions.
            With approximately one fifth of the ~200,000 European species at risk of extinction, we need to act fast and
            together to generate high-quality complete genome resources in large scale.

        </h3>
    </div>
    </div>
</div>
