<p>Home works!</p>
<!--<mat-grid-list cols="4" rowHeight="100px">-->
<!--&lt;!&ndash;  <mat-grid-tile&ndash;&gt;-->
<!--&lt;!&ndash;    *ngFor="let tile of tiles"&ndash;&gt;-->
<!--&lt;!&ndash;    [colspan]="tile.cols"&ndash;&gt;-->
<!--&lt;!&ndash;    [rowspan]="tile.rows"&ndash;&gt;-->
<!--&lt;!&ndash;    [style.background]="tile.color">&ndash;&gt;-->
<!--&lt;!&ndash;    {{tile.text}}&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-grid-tile>&ndash;&gt;-->
<!--  <mat-grid-tile colspan="2" rowspan="1">-->
<!--    <button mat-flat-button color="primary" style="width: 50em; height: 3em;">-->
<!--      Data Portal-->
<!--      <mat-icon>backup_table</mat-icon>-->
<!--    </button>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile colspan="2" rowspan="2">-->
<!--    <h1 class="page-header">-->
<!--      Tweets-->
<!--    </h1>-->
<!--&lt;!&ndash;    <div class="text-center">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="twitter-timeline" href="https://twitter.com/darwintreelife?ref_src=twsrc%5Etfw" data-height="300" data-theme="light" data-width="650" data-chrome="noborders nofooter noscrollbar transparent">&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile colspan="1" rowspan="1">-->
<!--    <button mat-flat-button color="primary" style="width: 25em; height: 3em;">-->
<!--      Phylogeny-->
<!--      <mat-icon>account_tree</mat-icon>-->
<!--    </button>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile colspan="1" rowspan="1">-->
<!--    <button mat-flat-button color="primary" style="width: 25em; height: 3em;">-->
<!--      Status Tracking-->
<!--      <mat-icon>timeline</mat-icon>-->
<!--    </button>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
