<app-banner></app-banner>
<br>

<div class="container">
  <div class-="item1">
          <mat-card class="data_portal">
            <mat-card-title>Data Portal</mat-card-title>
            <mat-card-subtitle>Data Portal description</mat-card-subtitle>
            <mat-card-actions>

              <mat-chip-listbox aria-label="Statistics">
                <mat-chip-option>
                  Species
                  <button mat-button>
                    {{data?.species}}
                  </button>
                </mat-chip-option>

                <mat-chip-option>
                  Organisms
                  <button mat-button>
                    {{data?.organisms}}
                  </button>
                </mat-chip-option>

                <mat-chip-option color="primary">
                  Specimens
                  <button mat-button>
                    {{data?.specimens}}
                  </button>
                </mat-chip-option>
              </mat-chip-listbox>


              <mat-chip-listbox aria-label="Project">
                <mat-chip-option>
                  ERGA
                  <button mat-button color="accent">
                    {{data?.ERGA}}
                  </button>
                </mat-chip-option>

                <mat-chip-option>
                  DToL
                  <button mat-button color="accent">
                    {{data?.dtol}}
                  </button>
                </mat-chip-option>

                <mat-chip-option>
                  25 Genomes
                  <button mat-button color="accent">
                    {{getData(data, '25_genomes')}}
                  </button>
                </mat-chip-option>
              </mat-chip-listbox>

            </mat-card-actions>
            <button mat-flat-button color="primary">
              <a mat-button [routerLink]="['/data_portal']">Data portal</a>
            </button>
          </mat-card>
    <br>
    <mat-card class="status_tracking">
      <mat-card-title>Status tracking</mat-card-title>
      <mat-card-subtitle>Status Tracking description</mat-card-subtitle>
      <mat-card-actions>
        <mat-chip-listbox aria-label="Statistics">
          <mat-chip-option color="primary">
            BioSamples - Submitted
            <button mat-button color="accent">
              {{getData(data, 'BioSamples - Submitted')}}
            </button>
          </mat-chip-option>

          <mat-chip-option>
            Raw Data - Submitted
            <button mat-button color="accent">
              {{getData(data, 'Raw Data - Submitted')}}
            </button>
          </mat-chip-option>

          <mat-chip-option color="primary">
            Mapped Reads - Submitted
            <button mat-button color="accent">
              {{getData(data, 'Mapped Reads - Submitted')}}
            </button>
          </mat-chip-option>
        </mat-chip-listbox>


        <mat-chip-listbox aria-label="Statistics">
          <mat-chip-option>
            Assemblies - Submitted
            <button mat-button color="accent">
              {{getData(data, 'Assebmlies - Submitted')}}
            </button>
          </mat-chip-option>

          <mat-chip-option>
            Annotation completed
            <button mat-button color="accent">
              {{getData(data, 'Annotation Complete')}}
            </button>
          </mat-chip-option>
        </mat-chip-listbox>

      </mat-card-actions>
      <button mat-flat-button color="primary">
        <a mat-button [routerLink]="['/status_tracking']">Status Tracking</a>
      </button>
    </mat-card>
  </div>

  <div class-="item2">
    <mat-card class="phylogeny">
      <mat-card-title>Phylogeny</mat-card-title>
      <mat-card-subtitle>Phylogeny description</mat-card-subtitle>
      <mat-card-actions>

        <mat-chip-listbox aria-label="Statistics">
          <mat-chip-option color="primary">Metazoa
            <button mat-button color="accent">
              {{data?.Metazoa}}
            </button>
          </mat-chip-option>

          <mat-chip-option>
            Viridiplantae
            <button mat-button color="accent">
              {{data?.Viridiplantae}}
            </button>
          </mat-chip-option>

          <mat-chip-option color="primary">
            Fungi
            <button mat-button color="accent">
              {{data?.Fungi}}
            </button>
          </mat-chip-option>

          <mat-chip-option color="primary">
            Other
            <button mat-button color="accent">
              {{data?.Other}}
            </button>
          </mat-chip-option>
        </mat-chip-listbox>

      </mat-card-actions>
      <button mat-flat-button color="primary">
        <a mat-button [routerLink]="['/phylogeny']">Phylogeny</a>
      </button>
    </mat-card>
  </div>
</div>
<br>
