<app-banner></app-banner>
<br>
<div class="container">
  <div class-="item">
          <mat-card>
            <mat-card-title>Data Portal</mat-card-title>
            <mat-card-subtitle>Data Portal description</mat-card-subtitle>
            <mat-card-actions>
              <mat-chip-list aria-label="Statistics">
                <mat-chip>
                  Species
                  <button mat-button color="primary">
                    2888
                  </button>
                </mat-chip>
                <mat-chip>
                  Organisms
                  <button mat-button color="primary">
                    8661
                  </button>
                </mat-chip>
                <mat-chip color="primary">
                  Specimens
                  <button mat-button color="primary">
                    14678
                  </button>
                </mat-chip>
              </mat-chip-list>
              <mat-chip-list aria-label="Project">
                <mat-chip color="accent" selected>
                  ERGA
                  <button mat-button color="primary">
                    0
                  </button>
                </mat-chip>
                <mat-chip color="accent" selected>
                  DToL
                  <button mat-button color="primary">
                    2863
                  </button>
                </mat-chip>
                <mat-chip color="accent" selected>
                  25 Genomes
                  <button mat-button color="primary">
                    25
                  </button>
                </mat-chip>
              </mat-chip-list>
              <mat-chip-list aria-label="Project">
                <mat-chip color="accent" selected>
                  Raw data submitted to ENA
                  <button mat-button color="primary">
                    0
                  </button>
                </mat-chip>
                <mat-chip color="accent" selected>
                  Mapped reads submitted to ENA
                  <button mat-button color="primary">
                    2863
                  </button>
                </mat-chip>
                <mat-chip color="accent" selected>
                  Assemblies submitted to ENA
                  <button mat-button color="primary">
                    25
                  </button>
                </mat-chip>
              </mat-chip-list>
            </mat-card-actions>
            <button mat-flat-button color="primary">
              Data portal
            </button>
          </mat-card>
  </div>

  <div class-="item">
    <mat-card>
      <mat-card-title>Twitter</mat-card-title>
      <mat-card-subtitle>Twitter</mat-card-subtitle>
      <mat-card-actions>
        <a class="twitter-timeline"
           data-height="250" data-theme="light" data-width="650"
           data-chrome="noborders nofooter noscrollbar transparent"
           href="https://twitter.com/erga_biodiv">Tweets by profile</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<br>

<div class="container">
    <div class-="item">
      <mat-card>
        <mat-card-title>Phylogeny</mat-card-title>
        <mat-card-subtitle>Phylogeny description</mat-card-subtitle>
        <mat-card-actions>
          <mat-chip-list aria-label="Statistics">
            <mat-chip color="warn" selected>
              Fungi
              <button mat-button color="primary">
                28
              </button>
            </mat-chip>
            <mat-chip>
              Metazoa
              <button mat-button color="primary">
                1999
              </button>
            </mat-chip>
            <mat-chip color="primary">
              Viridiplanta
              <button mat-button color="primary">
                669
              </button>
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list aria-label="Statistics">
            <mat-chip color="warn" selected>
              Apicomplexa
              <button mat-button color="primary">
                28
              </button>
            </mat-chip>
            <mat-chip>
              Ciliophora
              <button mat-button color="primary">
                1999
              </button>
            </mat-chip>
            <mat-chip color="primary">
              Rhodophyta
              <button mat-button color="primary">
                669
              </button>
            </mat-chip>
          </mat-chip-list>
        </mat-card-actions>
        <button mat-flat-button color="primary">
          Phylogeny
        </button>
      </mat-card>
    </div>
    <div class-="item">
      <mat-card>
        <mat-card-title>Status tracking</mat-card-title>
        <mat-card-subtitle>Status Tracking description</mat-card-subtitle>
        <mat-card-actions>
          <mat-chip-list aria-label="Statistics">
            <mat-chip color="warn" selected>
              Submitted to BioSamples
              <button mat-button color="primary">
                2888
              </button>
            </mat-chip>
            <mat-chip>
              Raw Data submitted to ENA
              <button mat-button color="primary">
                8661
              </button>
            </mat-chip>
            <mat-chip color="primary">
              Mapped Reads submitted to ENA
              <button mat-button color="primary">
                14678
              </button>
            </mat-chip>
          </mat-chip-list>
          <mat-chip-list aria-label="Statistics">
            <mat-chip>
              Assemblies submitted
              <button mat-button color="primary">
                2888
              </button>
            </mat-chip>
            <mat-chip>
              Annotation completed
              <button mat-button color="primary">
                8661
              </button>
            </mat-chip>
            <mat-chip color="primary">
              Annotation submitted to ENA
              <button mat-button color="primary">
                14678
              </button>
            </mat-chip>
          </mat-chip-list>
        </mat-card-actions>
        <button mat-flat-button color="primary">
          Status Tracking
        </button>
      </mat-card>
    </div>
</div>
