<!--<cookie-law #cookieLaw>-->
<!--  This website requires cookies, and the limited processing of your personal data in order to function. By using the-->
<!--  site you are agreeing to this as outlined in our-->
<!--  <a href="https://www.ebi.ac.uk/data-protection/privacy-notice/european-reference-genome-atlas-data-portal" target="_blank">Privacy-->
<!--    Notice</a>-->
<!--</cookie-law>-->
<div class="layout-container">
    <app-header></app-header>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>

