<br>
<div class="container">
  <div class="item0">
  </div>
  <div class="item1">
    <mat-card>
      <mat-card-title>Data status</mat-card-title>
      <mat-card-actions fxFlexAlign="center">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngIf="getStatusCount(aggregations?.biosamples.buckets)"
                         [style]="checkStyle('BioSamples - Submitted')"
                         (click)="onFilterClick('BioSamples - Submitted')" style="cursor: pointer">
            <h4 matLine>BioSamples - Submitted</h4>
            <mat-chip-list>
              <mat-chip style="font-size: 10px">
                {{getStatusCount(aggregations?.biosamples.buckets)}}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item role="listitem" *ngIf="getStatusCount(aggregations?.raw_data.buckets)"
                         [style]="checkStyle('Raw Data - Submitted')"
                         (click)="onFilterClick('Raw Data - Submitted')" style="cursor: pointer">
            <h4 matLine>Raw Data - Submitted</h4>
            <mat-chip-list>
              <mat-chip style="font-size: 10px">
                {{getStatusCount(aggregations?.raw_data.buckets)}}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item role="listitem" *ngIf="getStatusCount(aggregations?.mapped_reads.buckets)"
                         [style]="checkStyle('Mapped Reads - Submitted')"
                         (click)="onFilterClick('Mapped Reads - Submitted')" style="cursor: pointer">
            <h4 matLine>Mapped Reads - Submitted</h4>
            <mat-chip-list>
              <mat-chip style="font-size: 10px">
                {{getStatusCount(aggregations?.mapped_reads.buckets)}}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item role="listitem" *ngIf="getStatusCount(aggregations?.assemblies_status.buckets)"
                         [style]="checkStyle('Assemblies - Submitted')"
                         (click)="onFilterClick('Assemblies - Submitted')" style="cursor: pointer">
            <h4 matLine>Assemblies - Submitted</h4>
            <mat-chip-list>
              <mat-chip style="font-size: 10px">
                {{getStatusCount(aggregations?.assemblies_status.buckets)}}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
          <mat-list-item role="listitem" *ngIf="getStatusCount(aggregations?.annotation_complete.buckets)"
                         [style]="checkStyle('Annotation Complete - Done')"
                         (click)="onFilterClick('Annotation Complete - Done')" style="cursor: pointer">
            <h4 matLine>Annotation Complete - Done</h4>
            <mat-chip-list>
              <mat-chip style="font-size: 10px">
                {{getStatusCount(aggregations?.annotation_complete.buckets)}}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-list>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Projects</mat-card-title>
      <mat-card-actions>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let project of aggregations?.project_name.buckets"
                         style="cursor: pointer" [style]="checkStyle(convertProjectName(project.key))"
                         (click)="onFilterClick(convertProjectName(project.key))">
            <h4 matLine>{{convertProjectName(project.key)}}</h4>
            <mat-chip-list>
              <mat-chip style="font-size: 10px">
                {{project.doc_count}}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-list>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>
        Phylogeny/{{currentClass}}
        <mat-icon *ngIf="phylogenyFilters.length !== 0" (click)="onRefreshClick()" style="cursor: pointer">
          refresh
        </mat-icon>
        <mat-icon *ngIf="phylogenyFilters.length !== 0" (click)="onHistoryClick()" style="cursor: pointer">
          arrow_circle_left
        </mat-icon>
      </mat-card-title>
      <mat-card-actions>
        <mat-list role="list">
          <mat-list-item role="listbox" *ngFor="let phylogeny_name of aggregations?.taxonomies[currentClass]?.buckets"
                         style="cursor: pointer" [style]="checkStyle(phylogeny_name.key)"
                         (dblclick)="onFilterClick(phylogeny_name.key)" (click)="changeCurrentClass(phylogeny_name.key)">
            <h4 matLine>{{phylogeny_name.key}}</h4>
            <mat-chip-list>
              <mat-chip style="font-size: 10px">
                {{phylogeny_name.doc_count}}
              </mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-list>
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="item2">
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          Something went wrong, please try again!
        </div>
      </div>

      <div class="example-table-container">

        <div class="container2">
          <mat-chip-list>
            <div *ngFor="let item of activeFilters" class="item4">
              <mat-chip  selected (click)="onFilterClick(item)" style="cursor: pointer">
                {{item}}
                <mat-icon>close</mat-icon>
              </mat-chip>
            </div>
          </mat-chip-list>
        </div>

        <br>

        <button mat-raised-button (click)="exporter.exportTable('csv', {fileName: 'data_portal'})"
                color="accent">
          Download metadata
        </button>

        <mat-form-field appearance="standard" class="search_field">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="ex. Salmo trutta" #input>
        </mat-form-field>

        <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="currentStatus"
               matSortDisableClear
               matSortDirection="asc" matTableExporter #exporter="matTableExporter" [hiddenColumns]="[4]">
          <!-- Number Column -->
          <ng-container matColumnDef="organism">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Organism</th>
            <td mat-cell *matCellDef="let row">
              <a mat-button [routerLink]="['/data_portal', row._source.organism]">
                {{row._source.organism}}
              </a>
              <mat-chip style="margin-bottom: 5px; background-color: yellow; color: black"
                        *ngIf="checkNagoyaProtocol(row._source)">
                <a mat-button
                   href="https://drive.google.com/file/d/1tkTdo-dI30YFokE2YpwmzP9onhrrEyhD/view?usp=drive_link">
                  Ethics and law</a>
              </mat-chip>
            </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="commonName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Common Name</th>
            <td mat-cell *matCellDef="let row">{{row._source.commonName}}</td>
          </ng-container>

          <ng-container matColumnDef="commonNameSource">
            <th mat-header-cell *matHeaderCellDef>Common Name Source</th>
            <td mat-cell *matCellDef="let row">
              <mat-chip selected [style]="getCommonNameSourceStyle(row._source.commonNameSource)"
                        *ngIf="row._source.commonNameSource && row._source.commonName">
                {{row._source.commonNameSource}}
              </mat-chip>
            </td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="currentStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Current Status</th>
            <td mat-cell *matCellDef="let row">
              <mat-chip selected [style]="getStyle(row['_source']['currentStatus'])">
                {{row._source.currentStatus}}
              </mat-chip>
            </td>
          </ng-container>

          <ng-container matColumnDef="externalReferences">
            <th mat-header-cell *matHeaderCellDef>External References</th>
            <td mat-cell *matCellDef="let row">
              <mat-chip *ngIf="checkGenomeNotes(row._source)" style="margin-bottom: 5px; margin-top: 5px">
                <a mat-button href="{{row._source.genome_notes[0]['url']}}">Genome Note</a>
              </mat-chip>
              <mat-chip *ngIf="row._source.goat_info && row._source.goat_info.length !== 0"
                        style="margin-left: 5px; margin-bottom: 5px; background-color: cornflowerblue; color: white">
                <a mat-button href="{{row._source.goat_info['url']}}">GoaT Info</a>
              </mat-chip>
              <mat-chip *ngIf="row._source.tolid && checkShowTolQc(row._source)"
                        style="margin-left: 5px; margin-bottom: 5px; background-color: limegreen; color: black">
                <a mat-button href="{{generateTolidLink(row._source)}}">ToL QC</a>
              </mat-chip>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>



      <mat-paginator [length]="resultsLength"
                     [pageSizeOptions]="[15, 50, 100]"
                     aria-label="Select page" showFirstLastButtons></mat-paginator>
    </div>

  </div>
  <div class="item3">

  </div>
</div>
<br>

